name: Production Deploy # Github Action 페이지 좌측 리스트에 표시될 이름
on:
  push:
    branches:
      - master
    paths:
      - apps/backend/**
      - packages/**
      - .github/workflows/**
      - package.json
      - pnpm-lock.yaml
      - turbo.json
      - tsconfig.json

jobs:
  # Build Apps
  backend-build:
    name: Backend Build
    secrets: inherit
    uses: ./.github/workflows/node-build-reuseable.yaml
    with:
      type: backend
      env: production

  # Deploy Apps
  backend-docker-build:
    name: Backend Docker Build
    needs: [backend-build]
    secrets: inherit
    uses: ./.github/workflows/docker-build-reuseable.yaml
    with:
      type: backend
      env: production

  # Run semantic release
  semantic-release:
    name: Semantic Release Run
    needs: [backend-docker-build]
    secrets: inherit
    uses: ./.github/workflows/semantic-release-reuseable.yaml
    with:
      type: backend
      env: production
      
